.cover__subtitle {
  box-sizing: border-box;
  margin: 32px auto;
  max-width: 360px;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-size: 1.128rem;
  line-height: 1.2;
  color: #fff;
}

@media screen and (max-width: 520px) {
  .cover__subtitle {
    max-width: 288px;
    font-size: 14px;
    line-height: 1.15;
    margin-top: 16px;
  }
}
