.footer__link-item:hover .footer__link {
  opacity: .8;
}


@media screen and (max-width: 631px) {
  .footer__link-item {
    margin-bottom: 32px;
    padding: 0;
  }

  .footer__link-item:last-child {
    margin-bottom: 0;
  }
}
