.lead__title {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 720px;
  font-style: normal;
  font-weight: 900;
  font-size: 6rem;
  line-height: 1.03;
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 689px) {
  .lead__title {
    max-width: 288px;
    margin: 0 auto;
    padding: 0 16px;
    font-style: normal;
    font-weight: 900;
    font-size: 2.4rem;
    line-height: 110%;
    text-align: center;
  }
}
