.place__url-heading {
  box-sizing: border-box;
  padding-bottom: 12px;
  margin: 0;
  color: #AAA;
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@media screen and (max-width: 631px) {
  .place__url-heading {
    padding-left: 16px;
    padding-right: 16px;
  }
}
